.button_add {
    width: 70px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
}

.task_input {
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: #000;
    border: 1px solid #c89666;
    border-radius: 10px;  
}

.todo {
    align-self: center;
}

.todo_input, .todo_submit {
    margin: auto;
}

.todo_submit {
    margin-left: 10px;
    border-radius: 10px;
}