@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, p, label, input, option, td {
    color: #19345E;
}
h1 {
    font-weight: 700;
    font-size: 85px;
}
h2 {
    font-weight: 500;
    font-size: 35px;
}
h3 {
    font-weight: 400;
    font-size: 28px;
}
h4 {
    font-weight: 550;
    font-size: 25px;
}
h5 {
    font-weight: 400;
    font-size: 20px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18,75px;
    margin-bottom: 0;
}
span {
    color: #FF0000;
}
label {
    font-size: 20px;
    font-weight: 400;
}
a, a:hover, a:visited {
    text-decoration: none;
    color: white;
}
.bg {
    background-image: url(./assets/img/bg-img.png);
    background-position: 0 -100px;
    background-size: cover;
    position: fixed;
    border-radius: 20px 20px 0 0;
    top: 75.63px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: -1;
}
.container {
    width: 100%;
}
.navbar-brand {
    margin-left: 10px;
}
.nav-item {
    margin-left: 10px;
}
.nav-link {
    color: #19345E !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
}
.nav-link:hover {
    color: #F47522 !important;
}
.active {
    color: #F47522 !important;
    font-weight: 700;
}
.img {
    width: 355px;
    height: 355px;
    padding: 0;
    margin-top: 100px;
}
.img-circle {
    border-radius: 355px;
}
.text {
    padding: 0;
}
.btn-primary {
    background-color: #F47522;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}
/* .contact {
    left: 0;
    top: 0;
    width: 100vw;
    padding: 0;
} */
.left-bg {
    display: hidden;
}
.left {
    position: fixed;
    width: 70vh;
    height: 100vh;
    padding: 0;
}
.overlay {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #19345EA6;
}
.logo {
    display: hidden;
}
.right {
    position: absolute;
    left: 40vw;
    padding: 0;
    width: 100vh;
}
form {
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
}
tr, td, p {
    padding: 2px;
}
.message {
    display: inline-block;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 40px;
}
.card {
    height: 490px !important;
    width: 664px !important;
    border-radius: 10px;
    border: 1px solid #CCD7EB;
}
.break-line {
    width: 300px;
    height: 2px !important;
    margin: 0px auto;
    color: #CCD7EB;
}
.footer {
    margin-top: 15px;
}
.btn {
    margin-top: 10px;
}
#result-name, #result-email, #result-phone, #result-nationallity, #result-message {
    color: #19345E;
}
.dot-img {
    display: hidden;
}
.dotted-img {
    width: 100px;
    margin-left: 17em;
}
.footer-bg {
    position: absolute;
    background-color: #EDF6FF;
    width: 100%;
    height: 190px;
    bottom: 0;
    z-index: -1;
}

@media only screen and (min-width: 720px) {
  .navbar-brand {
      margin-left: 20px;
  }
  .nav-item {
      margin-left: 20px;
  }
  .content {
      text-align: left;
  }
  .text {
      margin-left: 5em;
      margin-top: 6em;
  }
  .img {
      margin-top: 0;
  }
  .left-bg {
      background: url(./assets/img/charles-rRWiVQzLm7k-unsplash.jpg);
      width: 40% !important;
      height: 100%;
      padding: 0;
      background-size: cover;
      position: fixed;
  }
  .logo {
      background: url(./assets/img/logo-ALTA-v2@2x.png);
      background-size: 100% !important;
      background-repeat: no-repeat;
      width: 45vh !important;
      height: 30vh;
      background-size: cover;
      position: absolute;
      top: 20vw;
      left: 8vw;
      padding: 0;
  }
  .dot-img {
      position: absolute;
      bottom: 12em;
  }
  .dotted-img {
      left: 7em;
  }
}